*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
}

.topbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 53.26% 39.72% 7.01%;
  grid-template-columns: 53.26% 39.72% 7.01%;
  list-style: none;
  padding: 2rem 0.8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 2;
}
@media all and (min-width: 37rem) {
  .topbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 67.34% 21.77% 10.89%;
    grid-template-columns: 67.34% 21.77% 10.89%;
  }
}
@media all and (min-width: 48rem) {
  .topbar {
    padding: 2rem 2.8rem;
  }
}

.topbar__item {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media all and (min-width: 48rem) {
  .topbar__item {
    font-size: 3.2rem;
  }
}

body,
header,
ul,
section,
div,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.main--padding {
  padding: 4.8rem 0.8rem;
  font-size: 2rem;
}
@media all and (min-width: 48rem) {
  .main--padding {
    padding: 4rem 2.8rem;
    font-size: 2.4rem;
  }
}

h1,
.h1 {
  font-size: 2.4rem;
}
@media all and (min-width: 48rem) {
  h1,
.h1 {
    font-size: 3.2rem;
  }
}

h2,
.h2 {
  font-size: 2rem;
}
@media all and (min-width: 48rem) {
  h2,
.h2 {
    font-size: 2.4rem;
  }
}

.justify-self--center {
  -ms-grid-column-align: center;
      justify-self: center;
}

.justify-self--end {
  -ms-grid-column-align: end;
      justify-self: end;
}

.jsCarouselTitle {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jsCarouselTitle p {
  font-size: 6rem;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 12px 0;
}

a,
button {
  color: inherit;
}
a:visited,
button:visited {
  color: inherit;
}

.hero__bg-img {
  background-image: url(../images/tarta4444_LuzDegradado1.webp);
  background-color: #0F0F0F;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__image {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 2rem;
}
@media all and (min-width: 48rem) {
  .contact__image {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.hero__text {
  font-size: 3rem;
  color: #FFFFFF;
  text-transform: uppercase;
}

.contact__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding-bottom: 0.2rem;
  padding-top: 2.4rem;
}
@media all and (min-width: 48rem) {
  .contact__title {
    font-size: 2rem;
  }
}

.product {
  border: none;
  border-bottom: 2px solid black;
  padding: 1.2rem 0;
}
.product:visited {
  color: inherit;
}
@media all and (min-width: 48rem) {
  .product:hover > .product__img {
    display: block;
    position: fixed;
    inset: 30% 0 0 50%;
  }
}
@media all and (min-width: 48rem) {
  .product {
    padding: 2rem 0;
  }
  .product .product__specs__collection-material {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }
}
.product__img {
  display: none;
}
.product__specs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 53.26% 46.73%;
  grid-template-columns: 53.26% 46.73%;
}
@media all and (min-width: 37rem) {
  .product__specs {
    -ms-grid-columns: 67.34% 32.66%;
    grid-template-columns: 67.34% 32.66%;
  }
}

button {
  background-color: transparent;
}

.accordion {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media all and (min-width: 48rem) {
  .accordion {
    font-size: 2.4rem;
  }
}

.active, .accordion:hover {
  background-color: white;
}

.panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

.contact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5.6rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
@media all and (min-width: 48rem) {
  .contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4rem 1fr 4rem 2fr;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 4rem;
  }
}
.contact__awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}