@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}


.contact {
    font-size: 2rem;
    color: white;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    padding-top: 5.6rem;
  
    @include mq($bp-medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8rem;
    }

    @include mq($bp-large) {
        display: grid;
        grid-template-columns: 1.5fr 1fr 2fr;
    }

    &__awards {
        display: flex;
        align-items: flex-end;
        gap: 2rem;

        &:first-of-type {
            padding-top: .8rem;
        }
    }
}

