*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $font-primary;
    scroll-behavior: smooth;
}

body, 
header,
ul,
section,
div {
    margin: 0;
    padding: 0;
}
