@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}


.topbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    list-style: none;
    padding: 2rem 4rem;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.topbar__item {
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-white;

}

