@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}

.justify-self--center {
    justify-self: center;
}

.justify-self--end {
    justify-self: end;
}



// Js carruser
.jsCarouselTitle {
    overflow: hidden;
    display: flex;
}

.jsCarouselTitle p {
    font-size: 6rem;
    white-space: nowrap;
    text-transform: uppercase;
    margin: 12px 0;
}



// Reset elements

a,
button {
    color: inherit;

    &:visited {
        color: inherit;
    }
}



